body{
    width: 800px;
    margin: auto;
}

.user-list {
    padding: 10px 0 0 0;
}

.confirm-status {
    float: right;
    display: inline-block;
    text-align: right;
    font-size: 15px;
    vertical-align: top;
    padding: 20px 0 0 0;
    cursor: pointer;
}

.confirm-status:hover {
    color: #000000;
}

