#change, #mail{
    position: absolute;
}
#submit, #mailInput{
    display: none;
    position: absolute;
}
.header{
    position: relative;
}
#submit, #change{
    top:50%;
    margin-top: -15px;
    right: 5px;
    width: 100px;
    height: 30px;
    padding: 0;
}
#mailInput{
    width: 300px;
    height: 30px;
}
#mail{
    line-height: 30px;
    max-width: 400px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
#mail, #mailInput{
    right: 115px;
    top: 50%;
    margin-top: -15px;
}

