
body{
    background: url(http://uconstructor.com/_ld/7/761_11.png) repeat;
}

.input{
    height:40px;
    outline:0;
    width:100%;
    border-radius: 5px;
}
.input:focus{
    outline:0;
}
.block-regist>*{
    margin: 10px;
}
.error{
    color:red;
}
.radio{
    display:inline-block;
    width: 100px;
    height:20px
}
.radio input{
    display:inline-block;
    width: 15px;
    height:15px
}
.radio:first-of-type{margin-left: 20px;}
.button{
    margin-right: 20px;
    display: inline-block;
    border: 2px solid #888;
    height: 40px;
    width:150px;
    text-align:center;
    /*padding-left: 10px;*/
    /*padding-right: 10px;*/
    line-height:38px;
    margin-bottom:10px;
    cursor: pointer;
    color:black;
    font-size:20px;
    border-radius:5px;
    margin-left: 0;
}