body{
    background-color: white;
    color: #292929;
    font-family: 'Open Sans';
    background-size: 100%;
}

.clear-both {
    clear: both;
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

a {
    color: #337AB7;
    text-decoration: none;
}

.button {
    cursor: pointer;
}