/*body{
   background: url(http://img.decor.com.ua/img_board/2012/10/24/83465-15262.jpg) repeat;
    background-size: 100%;
}*/

.clear-both {
    clear: both;
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

a {
    color: #337AB7;
    text-decoration: none;
}