body {
    background-color: lightblue;
}

.clear-both {
    clear: both;
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

a {
    color: #337AB7;
    text-decoration: none;
}