div{
    border: 5px solid #dddddd;
    background-color: #f5f5f5;
    margin: auto;
    width: 475px;
    height: 200px;
    border-radius: 50px;
}
img{
    position: absolute;
    width: 200px;
    height: 200px;
}
h1{
    margin: 33px 50px 50px 30px;
    font-size: 48pt;
    float: left;
}
h3{

    font-size: 16pt;
}
h4{
    font-size: 10pt;
}
span{
    display: block;
    text-align: center;
    font-size: 11pt;
}
