.container
{
    width: 1000px;
    margin: auto;
}
h3
{
    margin-left: 1px;
}
.info-title{
    min-height: 85px;
   padding-left: 8px;
}
.info-title span, .info-desc span{
    display: block;
    text-align: center;
    color: red;
}
.info-desc{
    min-height:  95px;
    padding-left: 8px;
}
.info-desc textarea{
    resize: none;
}
.info-title input{
    margin-top: 20px;
}
.info-desc a, .info-title a{
    width: 160px;
    margin-left: 55px;
}
.btn{
    margin-top: 20px;
}
.dismissButton
{
    margin-top: 20px;
    margin-left: 3px;
}
#inputName{
    cursor: default;
    margin: 20px 0 0 -15px;
}
.col-lg-4 a{
    margin: 20px 0 0 -30px;
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
}
.col-lg-12 {
    width: 100%;
}
.col-lg-11 {
    width: 91.66666667%;
}
.col-lg-10 {
    width: 83.33333333%;
}
.col-lg-9 {
    width: 75%;
}
.col-lg-8 {
    width: 66.66666667%;
}
.col-lg-7 {
    width: 58.33333333%;
}
.col-lg-6 {
    width: 50%;
}
.col-lg-5 {
    width: 41.66666667%;
}
.col-lg-4 {
    width: 33.33333333%;
}
.col-lg-3 {
    width: 25%;
}
.col-lg-2 {
    width: 16.66666667%;
}
.col-lg-1 {
    width: 8.33333333%;
}
.groupList h3
{
display: inline-block;
}
.clickable{
    cursor: pointer;
}
.groupList h4
{
    display: inline-block;
}
.userCard
{
   margin-top: 20px;
}
.avatar
{
    border-radius: 35px;
}
.removeStudent
{
    position: absolute;
    margin-left: 70%;
    margin-top: -7px;
}