.container
{
    width: 900px;
    margin: auto;
}
.description
{
    font-size: 14px;
    margin-bottom: 20px;
}
.inline
{
    display: inline-block;
}

.plus
{
    cursor: pointer;
}
.pull-right i
{
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}
.dismissButton
{
    margin-top: 20px;
}


.groupList h3
{
display: inline-block;
}
.clickable{
    cursor: pointer;
}

.panel-heading div {
    margin-top: -18px;
    font-size: 15px;
}
.panel-heading div span{
    margin-left:5px;
}
.panel-body{
    display: none;
}
.groupList h4
{
    display: inline-block;
}
.userCard
{
   margin-top: 20px;
}
