body{
    width: 500px;
    margin: auto;

}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.button-block a{
    display: inline-block;
}

.btn {
    width: 100%;
}

.panel-body > a:first-of-type{
    margin-bottom: 10px;
}

.form button
{
    width: 120px;
}

