.custom-select {
    width: 180px;
    font-size: 14px;
    display: inline-block;
}

.custom-select-title {
    height: 17px;
    /*border: 1px solid #ADD8E6;*/
    background-position: right bottom;
    background-image: url('down_arrow_select.jpg');
    background-repeat: no-repeat;
    padding: 2px;
    cursor: pointer;
    width: inherit;
    display: inline-block;
    margin: 0;
}

.custom-select-options li {
    padding: 2px;
    /*margin: 0 5px;*/
    cursor: pointer;
}

.custom-select-options li:nth-child(even) {
    background-color: #f0f8ff;
}

.custom-select-options li:hover {
    background-color: #7fffd4;
}

.custom-select-options {
    list-style: none;
    margin: 0;
    padding: 0 ;
    display: none;
    z-index: 1000;
    background: white;
    width: 205px;
    border-bottom: 1px solid #add8e6;
    border-left: 1px solid #add8e6;
    border-right: 1px solid #add8e6;
    box-sizing: border-box;
    position: absolute;
    /*top: -3px;*/
}
.custom-select-open .custom-select-options {
    display: block;
}

