body {
    width: 900px;
    margin: auto;
    background-color: #fafafa;
}
@keyframes apa{
    0%{
        opacity: 0;
    }
    10%{
        opacity: 0.1;
    }
    20%{
        opacity: 0.2;
    }
    30%{
        opacity: 0.3;
    }
    40%{
        opacity: 0.4;
    }
    50%{
        opacity: 0.5;
    }
    60%{
        opacity: 0.6;
    }
    70%{
        opacity: 0.7;
    }
    80%{
        opacity: 0.8;
    }
    90%{
        opacity: 0.9;
    }
    100%{
        opacity: 1;
    }
}
@keyframes apaOut{
    0%{
        opacity: 1;
    }
    10%{
        opacity: 0.9;
    }
    20%{
        opacity: 0.8;
    }
    30%{
        opacity: 0.7;
    }
    40%{
        opacity: 0.6;
    }
    50%{
        opacity: 0.5;
    }
    60%{
        opacity: 0.4;
    }
    70%{
        opacity: 0.3;
    }
    80%{
        opacity: 0.2;
    }
    90%{
        opacity: 0.1;
    }
    100%{
        opacity: 0;
    }
}
.padding-10px{
    padding: 10px;
}
.out{

}
.group:hover {
    background-color: rgba(250,250,250,1);
}

.group {
    display: inline-block;
    width: 30%;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    vertical-align: top;
    cursor: pointer;
    background-color: white;
    float: left;
    margin: 5px;
    height: 250px;
    -webkit-box-shadow: 0px 0px 18px 2px rgba(0,0,0,0.10);
    -moz-box-shadow: 0px 0px 18px 2px rgba(0,0,0,0.10);
    box-shadow: 0px 0px 18px 2px rgba(0,0,0,0.10);
    animation: apa 500ms;
}
.editing{
    padding: 10px;
}
.editing textarea{
    resize: none;
}
.loading{

    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #808080;
    opacity: 0.95;

}
.loading img{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -25px;
    margin-left: -25px;
}
.loadScreen{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #808080;
    opacity: 0.95;
    z-index: 100;
    left: 0;
    top: 0;
    animation: apaOut 2s;
}
.loadScreen img{
    width: 100px;
    height: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;

}
.trash, .settings {
    position: absolute;
    display: block;
    opacity: 0;
}
.group:hover .trash, .group:hover .settings{
    opacity: 0.5;
    transition-duration: 500ms;
}
.trash{
    bottom: 2px;
    right: 5px;
}
.settings{
    bottom: 25px;
    right: 1px;
}
.trash:hover{
    opacity: 1!important;
    transition-duration: 500ms;
}
.settings:hover{
    opacity: 1!important;
    transition-duration: 500ms;
}
.group{
    position:relative;
}
.group-name {
    margin: 0;
    font-weight: 400;
    font-size: 21px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.group-name h3{
    white-space: nowrap;
}

.group-description {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 300;
    color: rgb(150,150,150);
    margin-bottom: 10px;
}

.group .group-icon {
    width: 100%;
    background-size: 100%;
}
.icon-container{
    height: 150px;
    overflow: hidden;
}
.add-btn{
    margin: 10px 10px 10px 5px;
    padding: 3px;
}
.title {
    font-weight: 600;
}

.time {
    font-weight: 600;
}

.container {
    width: 1000px;
    margin-left: -12px;
}
.archiveTitle
{
    font-size: 16px;
    padding: 20px;
}