.row{
    position: relative;
}
.clickable{
    cursor: pointer;
}

.panel-heading div {
    margin-top: -18px;
    font-size: 15px;
}
.panel-heading div span{
    margin-left:5px;
}
.panel-body{
    display: none;
}

.width-list {
    width: 800px;
    margin: 0 auto;
}

.container {
    width: 900px;
    margin: 0 auto;
}

th.number {
    width: 20px;
}

th.name {
    width: 200px;
}

th.teacher {
    width: 200px;
}


th.next-lesson {
    width: 100px;
}

element.style {
}
.nav-pills>li>a {
    border-radius: 4px;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
a {
    color: #337AB7;
    text-decoration: none;
}