body{

}

.popup{
    padding: 16px 0;
    box-shadow: 2px 2px 0 rgba(0,0,0,.7);
    border: 1px solid #666;
    position: absolute;
    background: #fff;
    z-index: 1000;
    width: 280px;
    display: none;
}
.popup .content{

}
.padding28{
    padding-left: 15px;
    padding-right: 15px;
}
.popup .content h2{
    font-size: 2em;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    border-bottom: 1px solid #eeeeee;
}
.input-span{
    border: none;
    outline: none;
    display: inline;
    max-width: 30px;
}
.input-create-lesson{
    width: 85%;
    border: none;
    outline: none;
    border-bottom: 1px dashed #016d92;
}

.width15px{
    width: 15px;
}
.data-ivent{
    display: inline-block;
}
.data-ivent >*{
    border-bottom: 1px dashed #016d92;
    padding-bottom: 1px;
}

.create-lesson .inner-wrapper{
    display: table;
    margin-top: 10px;
    width: 100%;
}
.create-lesson .inner-wrapper .tr-create-lesson{
    display: table-row;
}
.create-lesson .inner-wrapper .tr-create-lesson>*{
    display: table-cell;
}
.create-lesson .inner-wrapper .tr-create-lesson .time-ivent{
    text-align: right;
    display: inline;
    padding-bottom: 1px;
    margin-left: 59px;
    border-bottom: 1px dashed #016d92;
}