body{

}

.popup{
    padding: 16px 0 0 0;
    box-shadow: 2px 2px 0 rgba(0,0,0,.7);
    border: 1px solid #666;
    position: absolute;
    background: #fff;
    z-index: 1000;
    width: 280px;
    display: none;
}
#delEvent{
    visibility: hidden;

}
.popup .popup-close{
    position: absolute;
    right: 2px;
    top: 2px;
    background: url("../../img/x.jpg");
    display: block;
    width: 15px;
    height: 15px;
    cursor: pointer;
}
.popup .content{

}
.padding28{
    padding-left: 15px;
    padding-right: 15px;
}
.popup .content h2{
    font-size: 2em;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    border-bottom: 1px solid #eeeeee;
    text-align: center;
}
.input-span{
    border: none;
    outline: none;
    display: inline;
    max-width: 30px;
}
.input-create-lesson{
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px dashed #016d92;
}

.width15px{
    width: 17px;
    text-align: center;
}
.data-ivent{
    display: inline-block;
}
.data-ivent >*{
    border-bottom: 1px dashed #016d92;
    padding-bottom: 1px;
}

.create-lesson .inner-wrapper{
    display: table;
    margin-top: 10px;
    width: 100%;
    position: relative;
}
.create-lesson .inner-wrapper .tr-create-lesson{
    display: table-row;
}
.create-lesson .inner-wrapper .tr-create-lesson>*{
    display: table-cell;
}
.create-lesson .inner-wrapper .tr-create-lesson .time-ivent{
    text-align: right;
    display: inline;
    padding-bottom: 1px;

    border-bottom: 1px dashed #016d92;
    position: absolute;
    right: 15px;
    top: 0px;
}

.group_block{
    display:none;
    position:absolute;
    width:130px;

    border: 1px solid black;
    z-index: 1000;
}
.group{
    background-color:rgb(78,205,196);
    color:white;
    border:1px solid #999;
    border-radius: 3px;
    margin-bottom: 0;
    margin-top: 3px;
}