.popupEdit{
    box-shadow: 2px 2px 0 rgba(0,0,0,.7);
    border: 1px solid #666;
    position: absolute;
    background: #fff;
    z-index: 1000;
    width: 365px;
    display: none;
    padding: 10px;
    font-weight: 600;
    font-size: 13px;
    color: #555;
}
.popupEdit .gotoLesson,
.popupEdit .reset,
.popupEdit .submit{
    /*text-align: right;*/
    cursor: pointer;
    font-weight: bold;
    /*font-size: 10px;*/
    margin: 0;
    padding: 0;
    color: #222;
}
.popupEdit .gotoLesson:hover,
.popupEdit .reset:hover,
.popupEdit .submit:hover{
    text-decoration: underline;
    color: #000;
}
.popupEdit .gotoLesson-wrapper{
    text-align: right;
}
.popupEdit .gotoLesson{
    font-size: 10px;
    color: #111;
    /*font-style: italic;*/
    /*text-decoration: underline;*/
}
.popupEdit .reset,
.popupEdit .submit{
    font-size: 15px;
}
.popupEdit .button{
    text-align: center;
}
.popupEdit .select-teacher{
    border: none;
}
.popupEdit .input-create-lesson{
    /*color: #000000;*/
    font-weight: bold;
    text-align: center;
    border: none;
}
.popupEdit .tr-create-lesson >*:last-child{
    font-weight: normal;
}
.popupEdit .inner-wrapper .tr-create-lesson .input-create-lesson{
    display: block;
    width: 100%;
    text-align: center;
}
.popupEdit .inner-wrapper{
    border-bottom: 1px solid #eeeeee;
}
.popupEdit .input-create-lesson:hover,.popupEdit .input-create-lesson:focus{
    /*border-bottom: 1px solid #000000;*/
}
.popupEdit  .data-ivent,.popupEdit .list-groups select{
    border:none;
}
.popupEdit  .data-ivent:focus,.popupEdit  .data-ivent:hover,.popupEdit .list-groups select:hover,.popupEdit .list-groups select:focus{
    /*border-bottom: 1px solid #000000;*/
}
.popupEdit  .data-ivent{
    /*color: #000000;*/
    font-weight: normal;
}
.popupEdit  .time-ivent{
    /*color: #000000;*/
}
.popupEdit .list-groups{
    /*color: #000000;*/
    width: 80%;
}
.popupEdit .list-groups select{
    border-bottom: 1px solid #eeeeee;
}

.popupEdit .date-span{
    width: 150px;
}