.my-tooltip{
    box-shadow: 2px 2px 0 rgba(0,0,0,.7);
    border: 1px solid #666;
    position: absolute;
    z-index: 1000;
    min-width: 170px;
    /*max-width: 300px;*/
    display: none;
    background-color: #bce8f1;
    color: #000000;
}
.my-tooltip h3{
    margin: 0;
    padding: 0;
    text-align: center;
    border-bottom: 1px solid #666;
    height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.my-tooltip .time{
    text-align: center;
}
.my-tooltip .author{
    display: block;
    text-align: center;
    font-style: italic;
}
.my-tooltip .group-list{
    margin: 0 auto;
    /*display: block;*/
    /*background-color: #ffffff;*/
    /*text-align:center;*/
    /*padding:0 10px ;*/
    /*border-bottom: 1px solid #000000;*/
}
.my-tooltip .group-list:first-child{
    /*border-top: 1px solid #000000;*/
}