.my-tooltip{
    box-shadow: 2px 2px 0 rgba(0,0,0,.7);
    border: 1px solid #666;
    position: absolute;
    background: #fff;
    z-index: 1000;
    width: 100px;
    display: none;
    background-color: #ffc83f;
    color: #000000;
}
.my-tooltip h3{
    margin: 0;
    padding: 0;
    text-align: center;
    border-bottom: 1px solid #666;
}
.my-tooltip .time{
    text-align: center;
}
.my-tooltip .author{
    font-style: italic;
}
