.header .background{
    position: absolute;
    width: 100%;
    height: 71px;
    z-index: -1;
    background-color: rgba(256,256,256,0.8);
    top: 0;
    left: 0;
}

.header .logout {
    display: block;
    color: inherit;
    text-decoration: inherit;
    margin: -2px 0 0 0;
    font-size: 13px;
    font-weight: 400;
}

.header .logout:hover {
    font-weight: 500;
}

.header .logo {
    float: left;
}

.header section.login {
    float: right;
    text-align: right;
}

.login .user {
    float: right;
    display: table;
    padding: 5px;
    width:auto;
}

.login .user .info {
    display: table-cell;
    vertical-align: top;
    padding: 5px 5px 0 0;
}

.login .user .avatar {
    display: table-cell;
    width:60px;
    height:60px;
    border-radius:30px;
}

.login .user .name{
    font-size: 20px;
}

.login .user .role{
    margin: -5px 0 0 0;
    font-size: 15px;
    font-weight: 400;
}