.user {
    display: inline-block;
    width:100%;
    color: #666666;
    cursor: pointer;
}

.user .padding{
    margin: 5px;
}

.user:hover {
    background-color: rgba(256,256,256,0.6);
}

.user .info {
    float: left;
    vertical-align: top;
    text-align: left;
    padding: 10px 5px 0 5px;
}

.user .avatar {
    float: left;
    width:60px;
    height:60px;
    border-radius:30px;
}

.user .name{
    margin: 0px;
    font-size: 20px;
    font-weight: 500;
}

.user .role{
    margin: -5px 0 0 0;
    font-size: 15px;
    font-weight: 400;
}