<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Расписание</title>
    <link rel="stylesheet" href="bootstrap.css"/>
    <link rel="stylesheet" href="start-page.css" />
</head>
<body>
    <h1>Расписание</h1>
    <div class="signin" id="signIn">
        <h2>Выберите способ входа</h2>
        <div class="panel panel-default">
            <div class="panel-body">
                <a href="#" class="btn btn-primary">
                    <div class="text">Вход через Google+</div>
                </a>
                <a href="#" class="btn btn-info">
                    <div class="text">Вход через Facebook</div>
                </a >
            </div>
        </div>
        <!--
        <h2>или зарегистрируйтесь</h2>
        <div class="panel panel-default">
            <div class="panel-body">
                <a href="#" class="btn btn-info">
                    <div class="text">Регистрация для студентов</div>
                </a>
                <a href="#" class="btn btn-info">
                    <div class="text">Регистрация для преподавателей</div>
                </a>
            </div>
        </div>
        -->
    </div>
    <!--
    <div class="not-in-system" id="notInSystem" style="display: none" >
        <h2>Вас нет в системе<br/>зарегистрируйтесь</h2>
        <div class="panel panel-default">
            <div class="panel-body">
                <a href="#" class="btn btn-info">
                    <div class="text">Регистрация для студентов</div>
                </a>
                <a href="#" class="btn btn-info">
                    <div class="text">Регистрация для преподавателей</div>
                </a>
            </div>
        </div>
    </div>
    -->
</body>
</html>
