RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(.*)$ /src/index.php\?url=$1 [QSA,L]


ErrorDocument 401 views/error/index.php?error=401
ErrorDocument 402 views/error/index.php?error=402
ErrorDocument 403 views/error/index.php?error=403
ErrorDocument 404 views/error/index.php?error=404
ErrorDocument 405 views/error/index.php?error=405
ErrorDocument 406 views/error/index.php?error=406
ErrorDocument 407 views/error/index.php?error=407
ErrorDocument 408 views/error/index.php?error=408
ErrorDocument 409 views/error/index.php?error=409
ErrorDocument 410 views/error/index.php?error=410
ErrorDocument 411 views/error/index.php?error=411
ErrorDocument 412 views/error/index.php?error=412
ErrorDocument 413 views/error/index.php?error=413
ErrorDocument 414 views/error/index.php?error=414
ErrorDocument 415 views/error/index.php?error=415
ErrorDocument 500 views/error/index.php?error=500
ErrorDocument 501 views/error/index.php?error=501
ErrorDocument 502 views/error/index.php?error=502
ErrorDocument 503 views/error/index.php?error=503
ErrorDocument 504 views/error/index.php?error=504
ErrorDocument 505 views/error/index.php?error=505

SetEnvIfNoCase Request_URI "^/app/admin" SECURED

AuthType Basic
AuthName "Login"
AuthUserFile /var/www/vhosts/rozklad/public_html/conf/.htpasswd
Require valid-user
Order allow,deny
Allow from env=!SECURED
Satisfy any
