RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(.*)$ /index.php\?url=$1 [QSA,L]

SetEnvIfNoCase Request_URI "^/app/admin" SECURED

AuthType Basic
AuthName "Login"
AuthUserFile /var/www/vhosts/rozklad/public_html/conf/.htpasswd
Require valid-user
Order allow,deny
Allow from env=!SECURED
Satisfy any

<Files .htaccess>
 order allow,deny
 deny from all
</Files>

Options All -Indexes
