RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(.*)$ /src/index.php\?url=$1 [QSA,L]

SetEnvIfNoCase Request_URI "^/src/app/admin" SECURED

AuthType Basic
AuthName "Login"
AuthUserFile D:\openserver\OpenServer\domains\localhost\Rozklad\src\conf\.htpasswd
Require valid-user
Order allow,deny
Allow from env=!SECURED
Satisfy any

<Files .htaccess>
 order allow,deny
 deny from all
</Files>

Options All -Indexes
