body{
    margin: 0;
    padding: 0;
}
header{
    width: 900px;
    margin: 0 auto;
    padding: 0;
    border-bottom: 0;

}
nav
{
    width: 900px;
    margin: auto;
    border-bottom: 2px solid grey;
}
.tabButton
{
    display: inline-block;
    width: 49.8%;

    font-size: 16px;
    margin: 0;
    padding: 5px;
    background-color: #ffffff;
    cursor: pointer;
}
.activeTab{
    background-color: #eee;
}
a{
    color: blue!important;
}
[type='tel']{
    width: 20px;
    border: none;
    background: #fcfcfc;
    outline: none;
}
.load-btn{
    float: left;
}
.stud{
    background-color: #eeeeee;
}
.cont{
    margin-top: 20px;
}
.cont button{
    border: 1px solid #bfc4c4;
    color: #000000;
    text-align: center;
    background-color: #eeeeee;
    outline: none;
}
.cont button:hover{
    text-decoration: none;
    border:1px solid #bfc4c4;
    background-color: #d9dddd; background-image: -webkit-gradient(linear, left top, left bottom, from(#d9dddd), to(#c6c3c3));
    background-image: -webkit-linear-gradient(top, #d9dddd, #c6c3c3);
    background-image: -moz-linear-gradient(top, #d9dddd, #c6c3c3);
    background-image: -ms-linear-gradient(top, #d9dddd, #c6c3c3);
    background-image: -o-linear-gradient(top, #d9dddd, #c6c3c3);
    background-image: linear-gradient(to bottom, #d9dddd, #c6c3c3);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#d9dddd, endColorstr=#c6c3c3);
}
#year{
    width: 30px;
}
.tcal{
    width: 0;
    border: none;
}
#deadLineSettings{
    display: none;
}
.fixes{
  float:right;

  padding: 0;
}

.error-deadline *{
    color: red;
    background: rgb(237, 237, 237);
    border: 1px solid #666666;
    position: absolute;
    z-index: 2;
    top: -40px;
    left: 0;
    padding: 5px;
}
[type='number']{
    margin-left: 5px;
    outline: none;
    background: #fcfcfc;;
    width: 33px;
    border: none;
}
body{
    padding: 0;
    margin: 0;
}
.disqus{

    width: 900px;
    padding: 20px 0;
    margin: auto;
}
.main-content{
    width: 900px;
    margin: auto;
    clear: both;
}
.description
{
    font-size: 16px;
    white-space: pre;
    word-wrap: break-word;
}
.addButton
{
    background-color: #F5F5F5;
    color: #000000;
    border: 1px solid #000000;
}
.descInput
{
    resize: vertical;
}
.wordBreak
{
    white-space: nowrap;
    overflow: hidden;
}

.elipsis
{
    text-overflow: ellipsis;
}
.deleteButton
{
    border: none;
    background-color: inherit;
    outline: none;
}
.fileError
{
    color: red;
    font-size: 16px;
}
.deadLine{
    width: 900px;
    margin: auto;
}
.homeWorkList{
    margin-top: 10px;
    word-break: break-all;
}

