header{
    width: 900px;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 20px;
}
[type='tel']{
    width: 20px;
    border: none;
    background: #fcfcfc;
    outline: none;
}
#year{
    width: 30px;
}
.tcal{
    width: 0;
    border: none;
}
[type='number']{
    margin-left: 5px;
    outline: none;
    background: #fcfcfc;;
    width: 33px;
    border: none;
}
body{
    padding: 0;
    margin: 0;
}
.disqus{

    width: 900px;
    padding: 20px 0;
    margin: auto;
}
.main-content{
    width: 900px;
    margin: auto;
    clear: both;
}
.description
{
    font-size: 16px;
    white-space: pre;
    word-wrap: break-word;
}
.addButton
{
    background-color: #F5F5F5;
    color: #000000;
    border: 1px solid #000000;
}
.descInput
{
    resize: vertical;
}
.wordBreak
{
    white-space: nowrap;
    overflow: hidden;
}

.elipsis
{
    text-overflow: ellipsis;
}
.deleteButton
{
    border: none;
    background-color: inherit;
    outline: none;
}
.fileError
{
    color: red;
    font-size: 16px;
}
.deadLine{
    width: 900px;
    margin: auto;
}
